@import 'src/styles/variables';

@keyframes white-light {
  from {
    box-shadow: 0 0 0 $white;
  }
  to {
    box-shadow: 0 0 15px $white;
  }
}

@keyframes menuSlideDown {
  from {
    opacity: 0;
    top: -300%;
  }
  to {
    opacity: 1;
    top: 70px;
  }
}

@keyframes menuSlideUp {
  from {
    opacity: 1;
    top: 70px;
  }
  to {
    opacity: 0;
    top: -300%;
  }
}

@keyframes openPopup {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

@keyframes closePopup {
  from {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}
