/*----------COLORS----------*/
$gray-600: #232323;
$gray-400: #2c2c2c;
$orange: #eb8157;
$white: #fff;

/*----------BORDERS----------*/
@mixin border-sm($color) {
  border: 1px solid $color;
  border-radius: 8px;
}

@mixin border-bg($color) {
  border: 1px solid $color;
  border-radius: 12px;
}

/*----------FONTS----------*/

/*----------MARGINS, PADDINGS----------*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* */
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* */
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
}

/* Extra Small Devices */
@media only screen and (max-width: 320px) {
  /* */
}
