/*----------COLORS----------*/
$gray-200: #464646;
$gray-400: #2c2c2c;
$gray-600: #232323;
$orange: #eb8157;
$white: #fff;
$light-white: #f4f4f4;

/*----------BORDERS----------*/
@mixin border-sm($color) {
  border: 1px solid $color;
  border-radius: 8px;
}

@mixin border-bg($color) {
  border: 1px solid $color;
  border-radius: 12px;
}

/*----------FONTS----------*/
$text-std: 1rem;
$text-md: 1.25rem;
$text-bg: 1.5rem;
$title-sm: 2rem;
$title-md: 3.5rem;
$title-bg: 5rem;
$fw-normal: 200;
$fw-md: 400;
$fw-bold: 800;

/*----------MARGINS, PADDINGS----------*/
$section-margin-pc: 200px;
$section-margin-mob: 150px;
$section-padding-pc: 3%;
$section-padding-mob: 15px;

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* */
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* */
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
}

/* Extra Small Devices */
@media only screen and (max-width: 320px) {
  /* */
}
