@import 'src/styles/variables';

#about_us {
  margin-top: $section-margin-pc;
  padding: 0 $section-padding-pc;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10%;
  opacity: 0;
  transition: all 0.5s ease-in;

  &._animate {
    opacity: 1;
  }

  > .about_image {
    position: relative;

    > picture {
      > img {
        width: 100%;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -7%;
      right: -15%;
      bottom: -7%;
      left: 7%;
      border: 3px solid $orange;
    }
  }

  > .about_text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    > h1 {
      font-size: $title-sm;
      margin: 0;
      margin-bottom: 30px;
      padding: 26px 20%;
      color: $white;
      text-align: center;
      white-space: nowrap;
      background-color: $orange;
    }

    > .about_text-paragraph {
      max-width: 700px;

      > p {
        font-size: $text-bg;
        font-weight: $fw-normal;
        line-height: 2rem;
        margin-bottom: 10px;
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #about_us {
    margin-top: 120px;
    display: grid;
    justify-content: unset;
    gap: unset;

    > .about_image {
      width: 70%;
      justify-self: flex-end;
      margin-top: 10%;
      order: 1;

      align-self: flex-end;
      > img {
        width: 80%;
      }

      &::after {
        right: 7%;
      }
    }

    > .about_text {
      > h1 {
        width: 70%;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #about_us {
    > .about_text {
      > h1 {
        font-size: $title-sm;
        padding-top: 4%;
        padding-bottom: 4%;
      }
      > h1 {
        position: relative;
        left: -5%;
      }

      > .about_text-paragraph {
        > p {
          font-size: $text-bg;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #about_us {
    > .about_image {
      width: 80%;
    }

    > .about_text {
      > .about_text-paragraph {
        > p {
          font-size: $text-md;
        }
      }
    }
  }
}
