@import 'src/styles/variables';

.disciplines {
  border: 1px solid red;
  // height: 920px;
  margin-top: 170px;

  > .disciplines_background {
    overflow: hidden;
    // position: absolute;
    z-index: -1;

    > img {
      max-width: 100%;
    }
  }

  > h1 {
    margin: 0;
    margin-top: 70px;
    font-size: 6rem;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
    text-align: center;
  }

  > .disciplines_items {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    > .disciplines_item {
      > h3 {
        position: relative;
        top: -2rem;
        left: -5rem;
        text-align: center;
        padding: 18px 36px;
        font-size: 2.5rem;
        font-weight: 400;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 8px;
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  // .disciplines {
  //   > .disciplines_background {
  //     > img {
  //       object-fit: fill;
  //       width: 145%;
  //     }
  //   }

  //   > h1 {
  //     font-size: 5rem;
  //   }

  //   > .disciplines_items {
  //     > .disciplines_item {
  //       width: 30%;
  //       > img {
  //         width: 100%;
  //         // border: 3px solid red;
  //       }

  //       > h3 {
  //         width: fit-content;
  //         padding: 15 50px;
  //         font-size: 2rem;
  //       }
  //     }
  //   }
  // }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}
