@import 'src/styles/variables';

#disciplines {
  height: 800px;
  margin-top: $section-margin-pc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: 1px solid red;

  > .disciplines_background {
    position: absolute;
    height: 800px;
    width: 100%;
    // border: 1px solid yellow;
    overflow: hidden;
    z-index: -1;
    > picture {
      > img {
        width: 100%;
        height: 100%;
      }
    }
  }

  > h1 {
    font-size: $title-bg;
    font-weight: bold;
    margin: 0;
    color: $white;
    text-transform: uppercase;
    text-align: center;
  }

  > .disciplines_items {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

    > .disciplines_item {
      > h3 {
        font-size: $title-sm;
        font-weight: 400;
        position: relative;
        top: -2rem;
        left: -5rem;
        padding: 18px 36px;
        text-align: center;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #disciplines {
    > .disciplines_items {
      width: 100%;
      gap: 10px;

      .disciplines_item {
        width: 300px;

        > img {
          width: 100%;
        }

        > h3 {
          font-size: 2rem;
          width: fit-content;
          left: -15%;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #disciplines {
    gap: 25px;

    > .disciplines_background {
      > img {
        object-fit: cover;
      }
    }

    > h1 {
      font-size: 3.5rem;
    }

    > .disciplines_items {
      margin-top: 0;
      padding: 0 30px;
      flex-wrap: wrap;
      column-gap: 50px;
      row-gap: 35px;

      > .disciplines_item {
        position: relative;
        width: 240px;

        img {
          width: 100%;
        }

        > h3 {
          position: absolute;
          top: unset;
          bottom: -5%;
          left: -10%;
          padding: 15px 20px;
          font-size: $text-bg;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #disciplines {
    justify-content: center;

    > .disciplines_background {
      > img {
        object-fit: initial;
      }
    }

    > h1 {
      font-size: 2.5rem;
    }

    > .disciplines_items {
      display: grid;
      row-gap: 50px;
      margin-top: 30px;

      > .disciplines_item {
        width: 210px;

        img {
          width: 100%;
          object-fit: cover;
        }

        > h3 {
          left: -25%;
        }
      }
    }
  }
}
