@import 'src/styles/variables';

#gallery {
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 0 90px;

  .gallery_background {
    transform: scale(140%);
    z-index: -1;
    position: absolute;
    top: 20%;
    right: 12%;
    opacity: 0.3;
  }

  > h1 {
    font-size: 90px;
    color: $orange;
    margin: 0;
  }

  > p {
    font-size: 1.375rem;
    margin-bottom: 30px;
  }

  > .gallery_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    row-gap: 80px;
    column-gap: 2%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #gallery {
    > .gallery_images {
      justify-content: space-between;

      > img {
        width: 45%;
        height: 45%;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}
