@import 'src/styles/variables';
@import 'src/styles/animations';

#gallery {
  position: relative;
  margin-top: $section-margin-pc;
  padding: 0 $section-padding-pc;

  .gallery_background {
    transform: scale(140%);
    z-index: -1;
    position: absolute;
    top: 20%;
    right: 12%;
    opacity: 0.3;
  }

  > h1 {
    font-size: $title-bg;
    color: $orange;
    margin: 0;
  }

  > p {
    font-size: $text-md;
    font-weight: $fw-md;
    margin-bottom: 30px;
  }

  > .gallery_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 80px 5%;
    transform: rotateY(90deg);
    transition: all 0.5s ease-in;

    > .gallery_image {
      width: 300px;
      height: 300px;
      cursor: pointer;

      > picture {
        > img,
        > source {
          width: 300px;
          height: 300px;
          object-fit: cover;
        }
      }

      > img {
        width: 300px;
        height: 300px;
        object-fit: cover;
      }
    }

    &._animate {
      transform: rotateY(0deg);
    }
  }

  > .gallery_popup {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 20px;
    background: rgba(35, 35, 35, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(35, 35, 35, 0.26);
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &.active {
      display: block;
      animation: openPopup 0.3s ease-in;
    }

    &.closing {
      display: block;
      animation: closePopup 0.3s ease-in;
    }

    > img {
      max-width: 90%;
      height: 90%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      object-fit: contain;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
    }

    > .bxs-left-arrow,
    > .bxs-right-arrow {
      position: absolute;
      width: 50px;
      height: 50px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      top: 50%;
      cursor: pointer;
      transform: translateY(-50%);
      background-color: $orange;
      transition: all 0.1s ease-in;
      z-index: 1;

      &:hover {
        background-color: darken($orange, 10%);
      }
    }

    > .bxs-left-arrow {
      left: 5%;
    }

    > .bxs-right-arrow {
      right: 5%;
    }

    > .bx-collapse-alt {
      width: 70px;
      height: 70px;
      font-size: 50px;
      position: absolute;
      right: 3%;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.1s ease-in;

      &:hover {
        transform: scale(110%);
        color: $orange;
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #gallery {
    > .gallery_images {
      row-gap: 40px;
    }

    > .gallery_popup {
      > .bxs-left-arrow,
      > .bxs-right-arrow {
        background-color: rgba($orange, 0.6);
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #gallery {
    padding: 0 $section-padding-mob;
    > .gallery_images {
      column-gap: 3%;
    }

    > h1 {
      font-size: 4rem;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #gallery {
    > .gallery_images {
      > .gallery_image {
        width: 200px;
        height: 200px;

        > picture {
          > img,
          > source {
            width: 200px;
            height: 200px;
          }
        }

        > img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #gallery {
    justify-content: space-around;
    > .gallery_images {
      column-gap: 2%;

      > .gallery_image {
        width: 160px;
        height: 160px;

        > picture {
          > img,
          > source {
            width: 160px;
            height: 160px;
          }
        }

        > img {
          width: 160px;
          height: 160px;
        }
      }
    }

    > h1 {
      font-size: 3rem;
    }

    > p {
      font-size: 1rem;
    }
  }
}
