@import 'src/styles/variables';

#gallery {
  position: relative;
  margin-top: 200px;
  padding: 0 90px;

  .gallery_background {
    transform: scale(140%);
    z-index: -1;
    position: absolute;
    top: 20%;
    right: 12%;
    opacity: 0.3;
  }

  > h1 {
    font-size: 90px;
    color: $orange;
    margin: 0;
  }

  > p {
    font-size: 1.375rem;
    margin-bottom: 30px;
  }

  > .gallery_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    gap: 80px 5%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #gallery {
    > .gallery_images {
      row-gap: 40px;

      > img {
        width: 250px;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #gallery {
    padding: 0 15px;
    > .gallery_images {
      column-gap: 3%;

      > img {
        width: 200px;
      }
    }

    > h1 {
      font-size: 4rem;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #gallery {
    justify-content: space-around;
    > .gallery_images {
      column-gap: 2%;

      > img {
        width: 160px;
      }
    }

    > h1 {
      font-size: 3rem;
    }

    > p {
      font-size: 1rem;
    }
  }
}
