@import "src/styles/variables";
@import "src/styles/animations";

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: $gray-600;
  transition: background-color 0.2s ease-in-out;
  z-index: 999;

  > .main_logo {
    position: relative;
    top: 30%;
    border-radius: 50%;

    > a {
      display: block;
      width: 100px;
      height: 100px;

      > svg {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0 0 15px $white;
      }
    }

    &::before {
      width: 130px;
      height: 130px;
      position: absolute;
      top: -13%;
      left: -15%;
      display: block;
      content: "";
      background-color: $gray-600;
      z-index: -1;
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
    }
  }

  > .header_nav {
    > .nav_links {
      display: flex;
      justify-content: space-between;
      white-space: nowrap;
      gap: 2rem;
      list-style: none;

      > li {
        position: relative;
        display: block;
        font-weight: $fw-normal;
        transition: all 0.2s ease-in;

        > a {
          width: 100%;
          height: 100%;
          font-size: $text-std;
          padding-left: 10px;
          padding-right: 10px;

          &.active {
            font-weight: 800;

            &:hover {
              color: unset;
            }
          }
        }

        > a.active + .active_underline {
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 3px;
          margin-top: 3px;
          background-color: $orange;
          border-radius: 2px;
          background-color: $orange;
          transition: all 0.1s;
        }

        &:hover {
          color: $orange;
        }
      }
    }
  }

  > .header_actions {
    > #mode_btn {
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      outline: none;
      border: 2px solid $white;
      border-radius: 8px;
      background: none;
      cursor: pointer;

      > img {
        width: 80%;
        transition: transform 0.1s ease-in;
      }

      &:active {
        transform: scale(90%);
      }
    }

    .mobile_menu-btn {
      display: none;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header {
    height: 70px;
    padding: 0 15px;
    gap: 20px;

    > .main_logo {
      top: 20%;
      width: 80px;
      height: 80px;

      > a {
        width: 80px;
        height: 80px;
      }

      &::before {
        top: -15%;
        left: -16%;
        width: 105px;
        height: 105px;
      }
    }

    > .header_nav {
      > .nav_links {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 8px;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header {
    > .header_nav {
      width: 250px;
      padding: 20px;
      position: absolute;
      right: 1%;
      display: none;
      background: rgba(35, 35, 35, 0.5);
      border: 1px solid rgba(35, 35, 35, 0.2);
      border-radius: 12px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10.8px);
      transition: all 0.2s ease-in-out;

      &.closing {
        display: block;
        pointer-events: none;
        user-select: none;
        animation: menuSlideUp 0.3s forwards;
      }

      &.opened {
        display: block;
        animation: menuSlideDown 0.3s forwards;
      }

      > .nav_links {
        width: fit-content;
        font-size: $text-bg;
        position: relative;
        right: 0;
        flex-direction: column;
        justify-content: flex-end;

        > li {
          margin-bottom: 15px;
        }
      }
    }

    > .header_actions {
      display: flex;
      align-items: center;
      gap: 25px;

      > .mobile_menu-btn {
        display: block;

        &:hover {
          cursor: pointer;
        }

        > .line {
          display: block;
          width: 30px;
          height: 4px;
          margin: 9px auto;
          background-color: $white;
          border-radius: 2px;
          pointer-events: none;
          transition: all 0.2s ease-in-out;
        }

        &.isOpened > .line {
          &:nth-child(1) {
            transform: translateY(14px) rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: translateY(-12px) rotate(-45deg);
          }
        }
      }
    }
  }
}
