@import 'src/styles/variables';

#services {
  margin-top: $section-margin-pc;

  > h1 {
    max-width: fit-content;
    font-size: $title-sm;
    margin-bottom: 50px;
    padding: 24px 5%;
    background-color: $orange;
  }

  > .services_items {
    padding: 0 $section-padding-pc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: scale(0);
    transition: all 0.5s ease-in;
    gap: 75px 130px;

    &._animate {
      transform: scale(100%);
    }

    > .service_item {
      width: 210px;
      height: 220px;
      padding: 20px 18px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      border: 2px solid $white;
      border-radius: 12px;
      box-shadow: 5px 5px 10px rgba($white, 0.3);

      > h3 {
        font-size: $text-md;
        font-weight: 400;
      }

      > svg {
        fill: $white;
      }

      &:nth-child(1) {
        > svg {
          stroke: $white;
          fill: none;
        }
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #services {
    > .services_items {
      column-gap: 90px;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #services {
    > .services_items {
      row-gap: 50px;
      justify-content: space-around;
    }
  }
  /* */
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #services {
    > .services_items {
      padding: 0 $section-padding-mob;
      justify-content: space-evenly;
      column-gap: 25px;

      > .service_item {
        width: 150px;
        height: 150px;
        padding: 15px 10px;

        > img {
          width: 50%;
        }

        > h3 {
          font-size: $text-std;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #services {
    margin-top: 100px;

    > h1 {
      padding: 24px 5%;
      font-size: 1.5rem;
      margin-bottom: 10%;
    }

    > .services_items {
      row-gap: 25px;
      justify-content: center;
    }
  }
}
