@import 'src/styles/variables';

.trainings {
  border: 1px solid green;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  padding: 0 90px;
  // overflow-y: hidden;

  .trainings_background {
    width: 0; 
    height: 0;
    position: absolute;
    opacity: 0.05;
    z-index: -1;
    top: -25%;
    left: -35%;
  }

  > .training_text {
    display: flex;
    align-items: center;
    gap: 65px;

    > .training_text-border {
      height: 800px;
      width: 10px;
      border-radius: 5px;
      background-color: $orange;
    }

    > .training_text-paragraphs {
      font-size: 1.4rem;
      font-weight: 300;
      max-width: 600px;

      > p {
        margin-bottom: 1rem;
      }
    }
  }

  > .training_video-wrapper {
    text-align: center;
    > h1 {
      margin: 0;
      margin-bottom: 40px;
      color: $orange;
      font-size: 5.625rem;
      font-weight: bold;
    }
  }
}
