@import 'src/styles/variables';

#trainings {
  position: relative;
  margin-top: $section-margin-pc;
  padding: 0 $section-padding-pc;
  display: flex;
  justify-content: center;
  gap: 10%;

  &._animate > .trainings_background {
    transform: rotate(0deg);
  }

  .trainings_background {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0.05;
    z-index: -1;
    transform: rotate(60deg);
    top: -21%;
    left: -35%;
    transition: 1s ease-in;
  }

  > .trainings_text {
    display: flex;
    align-items: center;
    gap: 65px;

    > .trainings_text-border {
      height: 100%;
      flex-shrink: 0;
      width: 10px;
      border-radius: 5px;
      background-color: $orange;
    }

    > .trainings_text-paragraphs {
      font-size: 1.4rem;
      max-width: 600px;

      > p {
        font-size: $text-bg;
        font-weight: $fw-normal;
        margin-bottom: 1rem;
      }
    }
  }

  > .trainings_video-wrapper {
    text-align: center;

    > h1 {
      font-size: $title-bg;
      font-weight: bold;
      margin: 0;
      margin-bottom: 30px;
      color: $orange;
    }

    > .trainings_kinescope-player {
      position: relative;
      width: 80%;
      padding-top: 100%;
      margin: 0 auto;
      border-radius: 12px;

      > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #trainings {
    flex-direction: column-reverse;

    .trainings_background {
      top: -11%;
      left: -45%;
    }

    > .trainings_text {
      display: block;

      > .trainings_text-border {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 3%;
      }

      > .trainings_text-paragraphs {
        max-width: none;
        margin-left: 50px;
      }
    }

    > .trainings_video-wrapper {
      margin-bottom: 5%;

      > h1 {
        font-size: 5rem;
        text-align: left;
        padding-left: 5%;
      }

      > .trainings_kinescope-player {
        position: relative;
        padding-top: 62.5%;
        width: 50%;
        border-radius: 12px;
        margin: 0 auto;

        > iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #trainings {
    .trainings_background {
      left: -80%;
    }

    > .trainings_video-wrapper {
      > img {
        width: 85%;
      }

      > h1 {
        font-size: 3rem;
        margin-bottom: 30px;
      }

      > .trainings_kinescope-player {
        padding-top: 86.5%;
        width: 69%;
      }
    }

    > .trainings_text {
      > .trainings_text-paragraphs {
        max-width: 85%;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #trainings {
    .trainings_background {
      left: -160%;
    }

    > .trainings_video-wrapper {
      > .trainings_kinescope-player {
        padding-top: 99%;
        width: 79%;
      }

      > h1 {
        font-size: 2.2rem;
      }
    }

    > .trainings_text {
      > .trainings_text-paragraphs {
        margin-left: 40px;

        > p {
          font-size: $text-md;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
